<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item img-bg-login active" style="background-image: url('assets/img/login1.jpg')"></div>
    <div class="carousel-item img-bg-login" style="background-image: url('assets/img/login2.jpg')"></div>
  </div>

  <div class="login-panel-background">
    <div class="login-panel">
      <div class="text-center">
        <div class="text-center mb-5">
          <img src="assets/img/hoc_logo.png" class="img-fluid logo" />
        </div>
        <br />
        <h5 class="">Sistema de Gestión de Contratos</h5>
        <h5 class="">SPEED 5.0</h5>
        <p>¡Bienvenido!</p>
        <p>Espere un momento. Está a punto de ser redireccionado.</p>
      </div>
    </div>
  </div>
</div>
