<div class="modal-backdrop"></div>
<div class="modal-container">
  <div class="modal-content">
    <button class="close-button" (click)="closeModalF()">X</button>
    <h4>
      Estado Solicitud:
      {{
        dataSolicitudesGeneralesElaborado && dataSolicitudesGeneralesElaborado[0]
          ? dataSolicitudesGeneralesElaborado[0].estado
          : 'Doc. Elaborado'
      }}
      ({{ getTotalCantidad() }} - {{ porcentajeElaborado }}%)
    </h4>
    <ul>
      <li class="header">
        <span class="area">Ubicación</span>
        <span class="cantidad">Cantidad</span>
        <span class="porcentaje">Porcentaje</span>
      </li>
      <li *ngFor="let item of dataSolicitudesGeneralesElaborado; trackBy: trackByFn" (click)="viewDetails(item.idUbicacion)">
        <span class="area linkModal">{{ item.ubicacion }}</span>
        <span class="cantidad linkModal">{{ item.cantidad }}</span>
        <span class="porcentaje linkModal">{{ item.porcentaje.toFixed(2) }}%</span>
      </li>
      <li *ngIf="!dataSolicitudesGeneralesElaborado || dataSolicitudesGeneralesElaborado.length === 0">
        <span class="area">No hay datos disponibles</span>
        <span class="cantidad">-</span>
        <span class="porcentaje">-</span>
      </li>
    </ul>
  </div>
</div>
