<div class="card content-speed h-100 overflow-hidden">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      <h4 class="card-title">Mantenimiento de Asistente Virtual</h4>
    </div>
  </div>
  <div class="card-body d-flex h-100 flex-column overflow-hidden pb-2">
    <div class="accordion mb-3" id="accordionExample" style="margin-bottom: 32px">
      <div class="accordion-item" [formGroup]="filterFrom">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            Panel de Búsqueda
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row gx-xxl-5 text-xs">
              <div class="col-12 col-md-6 col-xl-4">
                <div class="row content-form-control">
                  <div class="text-xs ps-md-0 label-custom" style="width: 90px">Área:</div>
                  <div class="content-control px-0">
                    <hdc-select
                      class="w-100"
                      [placeholder]="'Todas'"
                      [items]="areas"
                      [valueKey]="'codigoArea'"
                      formControlName="codArea"
                      [valueLabel]="'descripcionArea'"
                      [lock]="false"
                      (changeValue)="selectArea($event)"
                      customReactiveForm
                    >
                    </hdc-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-end">
              <button type="button" class="btn btn-primary btn-sm me-1" (click)="openModalRegistrar()" style="height: 38px">
                <i class="fa-regular fa-file"></i> Nuevo
              </button>
              <button type="button" class="btn btn-primary btn-sm" (click)="submit()" style="height: 38px">
                <i class="fa-solid fa-magnifying-glass"></i> Buscar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-hidden" style="flex: 1 1 auto" *ngIf="data.length > 0">
      <p-table
        #pt
        [value]="data"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[10, 15, 25]"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm datatable-speed"
        [globalFilterFields]="['area', 'tema', 'codigoPregunta', 'pregunta', 'codigoRespuesta', 'respuesta']"
        [scrollable]="true"
        scrollHeight="flex"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex justify-content-end align-items-center">
            <div class="p-input-icon-left table-input-search">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar" (input)="filterRows($event)" />
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="indice" class="text-center" style="width: 5%">#<p-sortIcon field="indice"></p-sortIcon></th>
            <th pSortableColumn="area" class="text-center" style="width: 15%">Área<p-sortIcon field="area"></p-sortIcon></th>
            <th pSortableColumn="tema" class="text-center" style="width: 15%">Tema<p-sortIcon field="tema"></p-sortIcon></th>
            <th pSortableColumn="codigoPregunta" class="text-center" style="width: 5%">
              Cod. Pregunta <p-sortIcon field="codigoPregunta"></p-sortIcon>
            </th>
            <th pSortableColumn="pregunta" class="text-center" style="width: 30%">Pregunta<p-sortIcon field="pregunta"></p-sortIcon></th>
            <th pSortableColumn="codigoRespuesta" class="text-center" style="width: 5%">
              Cod. Respuesta <p-sortIcon field="codigoRespuesta"></p-sortIcon>
            </th>
            <th pSortableColumn="respuesta" class="text-center" style="width: 20%">
              Respuesta <p-sortIcon field="respuesta"></p-sortIcon>
            </th>
            <th class="text-center" style="width: 5%">Acción</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr class="pointer" data-id="index">
            <td class="text-center">{{ rowIndex + 1 }}</td>
            <td class="text-center">{{ item.grupo?.area?.descripcion }}</td>
            <td>{{ item.grupo?.tema?.descripcion }}</td>
            <td class="text-center">{{ item.codigoPregunta }}</td>
            <td>{{ item.descripcionPregunta }}</td>
            <td class="text-center">{{ item.codigoRespuesta }}</td>
            <td>{{ item.descripcionRespuesta }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-sm btn-primary" (click)="openModalEditar(item.id?.codigo!)" style="padding: 1px 6px">
                <i class="fa-solid fa-pencil"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
