<div>
  <div>
    <ul class="p-0 m-0 mb-2 swiper-items">
      <li class="card card-slide">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="text-card-title">Contratos Largos Cerrados {{ dataDashboard?.periodo }}</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <div class="border rounded p-3 bg-soft-warning me-3">
                <svg width="20" height="20" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="M19 3H5A2 2 0 0 0 3 5V19A2 2 0 0 0 5 21H19A2 2 0 0 0 21 19V5A2 2 0 0 0 19 3M5 19V17H8.13A4.13 4.13 0 0 0 9.4 19M19 19H14.6A4.13 4.13 0 0 0 15.87 17H19M19 15H14V16A2 2 0 0 1 10 16V15H5V5H19Z"
                  ></path>
                </svg>
              </div>
              <h2 class="counter" style="visibility: visible">{{ dataDashboard?.valor1 }}</h2>
            </div>
            <div class="pt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 20 20" fill="#d95f18">
                <path
                  d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="card card-slide">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="text-card-title">Contratos Cortos Cerrados {{ dataDashboard?.periodo }}</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <div class="border rounded p-3 bg-soft-primary me-3" style="background: rgb(184 174 174 / 20%) !important">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3 6.5C3 3.87479 3.02811 3 6.5 3C9.97189 3 10 3.87479 10 6.5C10 9.12521 10.0111 10 6.5 10C2.98893 10 3 9.12521 3 6.5Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14 6.5C14 3.87479 14.0281 3 17.5 3C20.9719 3 21 3.87479 21 6.5C21 9.12521 21.0111 10 17.5 10C13.9889 10 14 9.12521 14 6.5Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3 17.5C3 14.8748 3.02811 14 6.5 14C9.97189 14 10 14.8748 10 17.5C10 20.1252 10.0111 21 6.5 21C2.98893 21 3 20.1252 3 17.5Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14 17.5C14 14.8748 14.0281 14 17.5 14C20.9719 14 21 14.8748 21 17.5C21 20.1252 21.0111 21 17.5 21C13.9889 21 14 20.1252 14 17.5Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <h2 class="counter" style="visibility: visible">{{ dataDashboard?.valor2 }}</h2>
            </div>
            <div class="pt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 20 20" fill="#b8aeae">
                <path
                  d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="card card-slide">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="text-card-title">Adendas Cerradas {{ dataDashboard?.periodo }}</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <div class="border rounded p-3 bg-soft-primary me-3" style="color: #bf9000; background: rgb(191 144 0 / 20%) !important">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M21.419 15.732C21.419 19.31 19.31 21.419 15.732 21.419H7.95C4.363 21.419 2.25 19.31 2.25 15.732V7.932C2.25 4.359 3.564 2.25 7.143 2.25H9.143C9.861 2.251 10.537 2.588 10.967 3.163L11.88 4.377C12.312 4.951 12.988 5.289 13.706 5.29H16.536C20.123 5.29 21.447 7.116 21.447 10.767L21.419 15.732Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M7.48145 14.4629H16.2164"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <h2 class="counter" style="visibility: visible">{{ dataDashboard?.valor3 }}</h2>
            </div>
            <div class="pt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 20 20" fill="#bf9000">
                <path
                  d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="card card-slide">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="text-card-title">Adendas Automáticas Cerradas {{ dataDashboard?.periodo }}</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <div
                class="border rounded p-3 bg-soft-primary me-3"
                style="color: #cdb0e8; background-color: rgb(205 176 232 / 20%) !important"
              >
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10.33 16.5928H4.0293"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M13.1406 6.90042H19.4413"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.72629 6.84625C8.72629 5.5506 7.66813 4.5 6.36314 4.5C5.05816 4.5 4 5.5506 4 6.84625C4 8.14191 5.05816 9.19251 6.36314 9.19251C7.66813 9.19251 8.72629 8.14191 8.72629 6.84625Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M20.0002 16.5538C20.0002 15.2581 18.9429 14.2075 17.6379 14.2075C16.3321 14.2075 15.2739 15.2581 15.2739 16.5538C15.2739 17.8494 16.3321 18.9 17.6379 18.9C18.9429 18.9 20.0002 17.8494 20.0002 16.5538Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <h2 class="counter" style="visibility: visible">{{ dataDashboard?.valor4 }}</h2>
            </div>
            <div class="pt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 20 20" fill="#cdb0e8">
                <path
                  d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row-dashboard">
    <div class="card card-slide mb-0">
      <div class="card-body">
        <div echarts [options]="circleGraph" class="demo-chart" (chartClick)="onChartClick($event)"></div>
      </div>
    </div>
    <div class="card card-slide mb-0">
      <div class="card-body">
        <div echarts [options]="barGraph" class="demo-chart"></div>
      </div>
    </div>
  </div>
  <div class="row2-dashboard mb-5">
    <div class="card card-slide overflow-visible aos-init aos-animate" data-aos="fade-up" data-aos-delay="600" style="z-index: 4">
      <div class="flex-wrap card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="mb-2 card-title">Clientes Internos</h4>
          <p class="mb-0">
            <svg class="me-2 text-primary" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"></path>
            </svg>
            {{ dataClientesInternos.length }} solicitudes en proceso
          </p>
        </div>
      </div>
      <div class="p-0 card-body">
        <div class="mt-4">
          <p-table
            #pt
            [value]="dataClientesInternos"
            [paginator]="true"
            [rows]="7"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[7, 14, 21]"
            [tableStyle]="{ 'min-width': '30rem' }"
            styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm datatable-speed"
            [scrollable]="true"
            scrollHeight="400px"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center">Área Usuario</th>
                <th>Abogado Resp.</th>
                <th class="text-center">N° Solicitudes</th>
                <th>Porcentaje</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="table-clients__icon">
                      <svg width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M17.8877 10.8967C19.2827 10.7007 20.3567 9.50473 20.3597 8.05573C20.3597 6.62773 19.3187 5.44373 17.9537 5.21973"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M19.7285 14.2505C21.0795 14.4525 22.0225 14.9255 22.0225 15.9005C22.0225 16.5715 21.5785 17.0075 20.8605 17.2815"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M11.8867 14.6638C8.67273 14.6638 5.92773 15.1508 5.92773 17.0958C5.92773 19.0398 8.65573 19.5408 11.8867 19.5408C15.1007 19.5408 17.8447 19.0588 17.8447 17.1128C17.8447 15.1668 15.1177 14.6638 11.8867 14.6638Z"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M11.8869 11.888C13.9959 11.888 15.7059 10.179 15.7059 8.069C15.7059 5.96 13.9959 4.25 11.8869 4.25C9.7779 4.25 8.0679 5.96 8.0679 8.069C8.0599 10.171 9.7569 11.881 11.8589 11.888H11.8869Z"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M5.88509 10.8967C4.48909 10.7007 3.41609 9.50473 3.41309 8.05573C3.41309 6.62773 4.45409 5.44373 5.81909 5.21973"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M4.044 14.2505C2.693 14.4525 1.75 14.9255 1.75 15.9005C1.75 16.5715 2.194 17.0075 2.912 17.2815"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                    <span class="fw-normal">{{ item.area }}</span>
                  </div>
                </td>
                <td>
                  <div class="iq-media-group iq-media-group-1 text-center" *ngIf="!!item.abogado">
                    <ng-container *ngFor="let lawyer of item.abogado.split(',')">
                      <a href="#" class="iq-media-1">
                        <div class="icon iq-icon-box-3 rounded-pill">{{ lawyer }}</div>
                      </a>
                    </ng-container>
                  </div>
                </td>
                <td class="text-center fw-bold text-dark">{{ item.cantidad }}</td>
                <td>
                  <div class="mb-2 d-flex align-items-center">
                    <h6>{{ item.porcentaje }}</h6>
                  </div>
                  <div class="shadow-none progress bg-soft-primary w-100" style="height: 4px">
                    <div
                      class="progress-bar bg-gold"
                      data-toggle="progress-bar"
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      [ngStyle]="{ width: item.porcentaje + '%', transition: 'width 2s ease 0s' }"
                    ></div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="others_documents_content">
      <div class="row-cols-50 mb-4">
        <div class="card card-slide mb-0">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <div>
                <span class="text-card-title">Transacciones Disponibles Keynua</span>
              </div>
              <div>
                <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd"
                  ></path>
                </svg>-->
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div class="border rounded p-3 bg-soft-danger me-3">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16.8397 20.1642V6.54639"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M20.9173 16.0681L16.8395 20.1648L12.7617 16.0681"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M6.91102 3.83276V17.4505"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M2.8335 7.92894L6.91127 3.83228L10.9891 7.92894"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </div>
                <h2 class="counter" style="visibility: visible">{{ dataDashboard?.valor5 }}</h2>
              </div>
              <div class="pt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 20 20" fill="#b91d12">
                  <path
                    d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-slide mb-0 justify-content-center" style="background-color: #eaeaea">
          <a [attr.href]="urlLegalAlDia?.valor" target="”_blank”">
            <div class="card-header p-0" style="background-color: #eaeaea">
              <img src="assets/img/legal_al_dia.png" class="img-fluid" width="100%" />
            </div>
          </a>
        </div>
      </div>
      <div class="card card-slide mb-0 others_documents_card">
        <div class="card-body">
          <div class="modelo-documentos-content">
            <h4 class="mb-2 card-title">Modelo de Contrato y Otros</h4>
            <app-tree [documents]="modeloDocumentos" (downloadFile)="downloadDocument($event)"></app-tree>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>

<app-status-elaborado-modal
  *ngIf="isModalOpenElaborado"
  [dataSolicitudesGeneralesElaborado]="dataSolicitudesGeneralesElaborado"
  [porcentajeElaborado]="porcentajeElaborado"
  (closeModal)="closeModalF()"
  (valDetail)="viewDetails($event)"
></app-status-elaborado-modal>

<app-detail-elaborado-modal
  *ngIf="isModalOpenElaboradoDetail"
  [valSelectDetailModal]="valSelectDetailModal"
  [dataSolicitudesGeneralesElaborado]="dataSolicitudesGeneralesElaborado"
  (closeModal)="closeModalD()"
></app-detail-elaborado-modal>
