<div class="modal-container">
  <div class="modal-header">
    <span *ngIf="actionType === action.EDITAR">Editar Botón</span>
    <span *ngIf="actionType === action.REGISTRAR">Registrar Botón</span>
    <span class="modal-close" (click)="close()">✕</span>
  </div>
  <div class="modal-footer pb-0 justify-content-start">
    <button class="btn btn-sm btn-primary" style="height: 39px" (click)="submit()"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
  </div>
  <div class="modal-body">
    <fieldset class="fieldset-speed">
      <legend>Datos del Botón</legend>
      <div [formGroup]="buttonForm">
        <div class="d-flex align-items-center mb-2">
          <div style="min-width: 130px">Nombre:</div>
          <div class="w-100">
            <input type="text" class="form-control" formControlName="nombre" />
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div style="min-width: 130px">Descripción:</div>
          <div class="w-100">
            <input type="text" class="form-control" formControlName="descripcion" />
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div style="min-width: 130px">URL:</div>
          <div class="w-100">
            <input type="text" class="form-control" formControlName="url" />
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div style="min-width: 130px">Código Grid:</div>
          <div class="w-100">
            <input type="text" class="form-control" formControlName="codigo" />
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div style="min-width: 130px">Tipo:</div>
          <div class="w-100">
            <input type="text" class="form-control" formControlName="tipo" />
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div style="min-width: 130px">Ícono:</div>
          <div class="w-100">
            <input type="text" class="form-control" formControlName="icono" />
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div style="min-width: 130px">Parametro:</div>
          <div class="w-100">
            <input type="text" class="form-control" formControlName="parametro" />
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div style="min-width: 130px">Evento Submit:</div>
          <div class="w-100">
            <input type="text" class="form-control" formControlName="eventoSubmit" />
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div style="min-width: 130px">Evento Complete:</div>
          <div class="w-100">
            <input type="text" class="form-control" formControlName="eventoComplete" />
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div style="min-width: 130px">Orden:</div>
          <div class="w-100">
            <input type="text" class="form-control" formControlName="orden" />
          </div>
        </div>
        <div class="row content-form-control">
          <div class="text-xs ps-md-0" style="width: 130px">Activo:</div>
          <div class="content-control px-0">
            <span>No</span>
            <div class="form-check form-switch d-inline-block ms-2">
              <input class="form-check-input pointer" type="checkbox" formControlName="estado" />
            </div>
            <span>Sí</span>
          </div>
        </div>
        <div class="row content-form-control">
          <div class="text-xs ps-md-0" style="width: 130px">Bloqueable:</div>
          <div class="content-control px-0">
            <span>No</span>
            <div class="form-check form-switch d-inline-block ms-2">
              <input class="form-check-input pointer" type="checkbox" formControlName="bloqueable" />
            </div>
            <span>Sí</span>
          </div>
        </div>
        <div class="row content-form-control">
          <div class="text-xs ps-md-0" style="width: 130px">Bloqueable Paralelo:</div>
          <div class="content-control px-0">
            <span>No</span>
            <div class="form-check form-switch d-inline-block ms-2">
              <input class="form-check-input pointer" type="checkbox" formControlName="bloqueableParalelo" />
            </div>
            <span>Sí</span>
          </div>
        </div>
      </div>
    </fieldset>
    <br />
    <div class="accordion mb-3" id="accordionExample" style="margin-bottom: 32px">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Perfiles del usuario
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row content-form-control">
              <p-pickList
                [source]="perfilesFuente"
                [target]="perfilesAsignados"
                sourceHeader="Disponible"
                targetHeader="Asignado"
                [dragdrop]="true"
                [responsive]="true"
                [sourceStyle]="{ height: '20rem' }"
                [targetStyle]="{ height: '20rem' }"
                breakpoint="1400px"
              >
                <ng-template let-rol pTemplate="item">
                  <div class="flex flex-wrap p-2 align-items-center gap-3">
                    <div class="flex-1 flex flex-column gap-2">
                      <span class="font-bold">{{ rol.nombre }}</span>
                    </div>
                  </div>
                </ng-template>
              </p-pickList>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
