.hdc-multiselect {
  min-width: 125px;
  max-width: 100%;
  font-family: sans-serif;
  font-size: 1em;
  box-sizing: border-box;
  position: relative;
}
.hdc-multiselect * {
  box-sizing: border-box;
}
.hdc-multiselect-value {
  display: block;
  width: 100%;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  text-align: left;
  color: #8a92a6;
  min-height: 29px;
  overflow: hidden;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #eee;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  -webkit-transition:
    border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
.hdc-multiselect-value[disabled],
.hdc-multiselect-value:disabled {
  background-color: #e9ecef;
  cursor: auto;
}
.hdc-multiselect-value > span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.hdc-multiselect-container {
  width: 100%;
  display: none;
  position: absolute;
  z-index: 10;
  color: #333;
  overflow: auto;
  padding: 0px;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(170, 170, 170);
  border-image: initial;
  border-radius: 4px;
}
.hdc-multiselect-container::-webkit-scrollbar {
  width: 0.5em;
}
.hdc-multiselect-container::-webkit-scrollbar-track {
  border-left: 1px solid #ccc;
}
.hdc-multiselect-container::-webkit-scrollbar-thumb {
  background-color: #c49227;
}
.hdc-multiselect-container.show {
  display: block;
}
.hdc-multiselect-container--top .hdc-input-autocomplete-item {
  border-top: 1px solid #ced4da;
  border-bottom: unset;
}
.hdc-multiselect-search {
  width: 100%;
  padding: 4px;
}
.hdc-multiselect-search-input {
  width: 100%;
  min-height: 24px;
  font-size: 0.8rem;
  box-shadow: none;
  height: auto !important;
  padding: 0px 10px 0px 3px;
  margin: 0px;
  outline: 0px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 3px;
}
.hdc-multiselect-options {
  overflow: auto;
  margin: 0px;
  padding: 5px 8px;
  width: 100%;
}
.hdc-multiselect-item {
  display: list-item;
  background-image: none;
  position: static;
  list-style: none;
}
.hdc-multiselect-item-label {
  display: flex;
  align-items: center;
}
.hdc-multiselect-item span {
  margin-left: 3px;
  display: inline;
  white-space: nowrap;
}
.hdc-multiselect-item > input {
  pointer-events: none;
}
