<div class="modal-container" [formGroup]="requestForm.Form">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="observeRequestLabel">Seguridad de solicitud</h1>
    <span class="modal-close" (click)="close()">✕</span>
  </div>
  <div class="modal-body">
    <div class="row gx-xxl-5 mb-2">
      <div class="col-12 col-md-4">
        <div class="row content-form-control">
          <div class="text-xs ps-md-0" style="width: 140px">Es confidencial:</div>
          <div class="content-control px-0">
            <span>No</span>
            <div class="form-check form-switch d-inline-block ms-2">
              <input
                class="form-check-input pointer"
                type="checkbox"
                formControlName="esConfidencial"
                (change)="changeConfidencialidad()"
              />
            </div>
            <span>Sí</span>
          </div>
        </div>
      </div>
    </div>
    <fieldset class="fieldset-speed mb-3">
      <legend>Usuarios</legend>
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <p>Agregar usuarios según orden de envío</p>
          <div class="row content-form-control">
            <div class="text-xs ps-0" style="width: 60px">Usuario:</div>
            <div class="content-control px-0" style="overflow: inherit">
              <hdc-autocomplete
                class="w-100"
                value-key="id"
                value-label="nombre"
                [items]="listUsuarios"
                formControlName="buscadorUsuarios"
                (selectedValue)="selectUser($event)"
                [lock]="buscadorUsuariosLock"
                (changeValue)="seleccionarUsuario($event)"
                customReactiveForm
                #selectUserInput
              ></hdc-autocomplete>
            </div>
          </div>
        </div>
        <div *ngIf="listUsuariosSelected.length > 0" class="col-12 col-md-6">
          <div class="container-notify-users">
            <div *ngFor="let item of listUsuariosSelected" class="alert alert-light mb-2 p-2">
              <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0 me-4">{{ item.usuario }}</p>
                <button (click)="eliminarUsuario(item.id)" class="btn-close"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="d-flex flex-row-reverse flex-wrap gap-1 mb-2">
      <button type="button" class="btn btn-primary btn-sm" (click)="close()"><i class="fa-solid fa-xmark"></i> Cancelar</button>
      <button type="button" class="btn btn-secondary btn-speed btn-sm" (click)="sendRequest()">
        <i class="fa-regular fa-floppy-disk"></i> Guardar
      </button>
    </div>
  </div>
</div>
