<div class="card-border px-3">
  <div class="row align-items-center mx-0 my-2">
    <div class="text-xs ps-md-0" style="width: 150px">Tipo de Documento:</div>
    <div class="col ps-md-0">Documentos Solicitud</div>
  </div>
  <div class="row content-form-control mb-3">
    <div class="text-xs ps-md-0" style="width: 150px">Asunto:</div>
    <div class="content-control px-0">
      <input type="text" class="form-control w-auto" value="Documentos Solicitud" />
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-speed table-bordered">
      <thead>
        <tr>
          <th>Archivos Obligatorios</th>
          <th>Adjuntar</th>
          <th>Archivos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">Propuesta T&eacute;cnica Econ&oacute;mica <span class="text-danger">(*)</span></td>
          <td class="text-center py-2">
            <button type="button" class="btn btn-primary btn-xs"><i class="fa-solid fa-cloud-arrow-up"></i> Adjuntar Archivo</button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">Comunicaci&oacute;n de Adjudicaci&oacute;n <span class="text-danger">(*)</span></td>
          <td class="text-center py-2">
            <button type="button" class="btn btn-primary btn-xs"><i class="fa-solid fa-cloud-arrow-up"></i> Adjuntar Archivo</button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">Otros (Opcional)</td>
          <td class="text-center py-2">
            <button type="button" class="btn btn-primary btn-xs"><i class="fa-solid fa-cloud-arrow-up"></i> Adjuntar Archivo</button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="px-3"><span class="text-danger">(*):</span> Archivo obligatorio</p>
</div>
