<app-register-manual-contract
  *ngIf="!isLoading"
  [requestingUserList]="requestingUserList"
  [responsibleLawyersList]="responsibleLawyerList"
  [tiposContratoList]="tiposContratoList"
  [tabContract]="tabContract"
  [tabApplicationDocuments]="tabApplicationDocuments"
  [tabPowers]="tabPowers"
  [counterpartList]="counterpartList"
  [countriesList]="countriesList"
  [companiesList]="companiesList"
  [areasList]="areasList"
  [legalRepresentativesList]="legalRepresentativesList"
  [customerTypeList]="customerTypeList"
  [requestForm]="formRegisterManualContract"
>
</app-register-manual-contract>
