<div>
  <div class="">
    <ul class="p-0 m-0 mb-2 swiper-items">
      <li class="card card-slide">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="text-card-title">Solicitudes Enviadas</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <div class="border rounded p-3 bg-soft-warning me-3">
                <svg width="20" height="20" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M19 3H5A2 2 0 0 0 3 5V19A2 2 0 0 0 5 21H19A2 2 0 0 0 21 19V5A2 2 0 0 0 19 3M5 19V17H8.13A4.13 4.13 0 0 0 9.4 19M19 19H14.6A4.13 4.13 0 0 0 15.87 17H19M19 15H14V16A2 2 0 0 1 10 16V15H5V5H19Z">
                  </path>
                </svg>
              </div>
              <h2 class="counter" style="visibility: visible">{{ dataDashboard?.valor1 }}</h2>
            </div>
            <div class="pt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 20 20" fill="#d95f18">
                <path
                  d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                </path>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="card card-slide">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="text-card-title">Documentos Elaborados</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <div class="border rounded p-3 bg-soft-primary me-3"
                style="background: rgb(184 174 174 / 20%) !important">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3 6.5C3 3.87479 3.02811 3 6.5 3C9.97189 3 10 3.87479 10 6.5C10 9.12521 10.0111 10 6.5 10C2.98893 10 3 9.12521 3 6.5Z"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14 6.5C14 3.87479 14.0281 3 17.5 3C20.9719 3 21 3.87479 21 6.5C21 9.12521 21.0111 10 17.5 10C13.9889 10 14 9.12521 14 6.5Z"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3 17.5C3 14.8748 3.02811 14 6.5 14C9.97189 14 10 14.8748 10 17.5C10 20.1252 10.0111 21 6.5 21C2.98893 21 3 20.1252 3 17.5Z"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14 17.5C14 14.8748 14.0281 14 17.5 14C20.9719 14 21 14.8748 21 17.5C21 20.1252 21.0111 21 17.5 21C13.9889 21 14 20.1252 14 17.5Z"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <h2 class="counter" style="visibility: visible">{{ dataDashboard?.valor2 }}</h2>
            </div>
            <div class="pt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 20 20" fill="#b8aeae">
                <path
                  d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                </path>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="card card-slide">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="text-card-title">En Visado</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <div class="border rounded p-3 bg-soft-primary me-3"
                style="color: #bf9000; background: rgb(191 144 0 / 20%) !important">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M21.419 15.732C21.419 19.31 19.31 21.419 15.732 21.419H7.95C4.363 21.419 2.25 19.31 2.25 15.732V7.932C2.25 4.359 3.564 2.25 7.143 2.25H9.143C9.861 2.251 10.537 2.588 10.967 3.163L11.88 4.377C12.312 4.951 12.988 5.289 13.706 5.29H16.536C20.123 5.29 21.447 7.116 21.447 10.767L21.419 15.732Z"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M7.48145 14.4629H16.2164" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <h2 class="counter" style="visibility: visible">{{ dataDashboard?.valor3 }}</h2>
            </div>
            <div class="pt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 20 20" fill="#bf9000">
                <path
                  d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                </path>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="card card-slide">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="text-card-title">Enviados a Firma</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <div class="border rounded p-3 bg-soft-primary me-3"
                style="color: #cdb0e8; background-color: rgb(205 176 232 / 20%) !important">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.33 16.5928H4.0293" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path d="M13.1406 6.90042H19.4413" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.72629 6.84625C8.72629 5.5506 7.66813 4.5 6.36314 4.5C5.05816 4.5 4 5.5506 4 6.84625C4 8.14191 5.05816 9.19251 6.36314 9.19251C7.66813 9.19251 8.72629 8.14191 8.72629 6.84625Z"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20.0002 16.5538C20.0002 15.2581 18.9429 14.2075 17.6379 14.2075C16.3321 14.2075 15.2739 15.2581 15.2739 16.5538C15.2739 17.8494 16.3321 18.9 17.6379 18.9C18.9429 18.9 20.0002 17.8494 20.0002 16.5538Z"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <h2 class="counter" style="visibility: visible">{{ dataDashboard?.valor4 }}</h2>
            </div>
            <div class="pt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 20 20" fill="#cdb0e8">
                <path
                  d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                </path>
              </svg>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row-dashboard" style="min-height: 515px">
    <!-- TODO: Se solicito ocultar el grafico -->
    <!-- <div class="card card-slide mb-0">
      <div class="card-body" *ngIf="!isLoading">
        <div echarts [options]="pieGraph" class="demo-chart h-100"></div>
      </div>
    </div> -->
    <div class="card card-slide mb-0">
      <div class="card-body" *ngIf="!isLoading">
        <div echarts [options]="barGraph" class="demo-chart h-100"></div>
      </div>
    </div>
  </div>
  <div class="row2-dashboard">
    <div class="card card-slide overflow-visible aos-init aos-animate" data-aos="fade-up" data-aos-delay="600"
      style="z-index: 4">
      <div class="flex-wrap card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="mb-2 card-title">Documentos en Proceso de Firma</h4>
          <p class="mb-0">
            <svg class="me-2 text-primary" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"></path>
            </svg>
            {{ procesoFirma.length }} solicitudes en proceso
          </p>
        </div>
      </div>
      <div class="p-0 card-body">
        <div class="mt-4">
          <p-table #pt [value]="procesoFirma" [paginator]="true" [rows]="7" [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[7, 14, 21]" [tableStyle]="{ 'min-width': '30rem' }"
            styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm datatable-speed" [scrollable]="true"
            scrollHeight="400px">
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center">N° Solicitud</th>
                <th class="text-center" style="white-space: normal">Solicitante</th>
                <th>Contraparte</th>
                <th>Fecha Envio</th>
                <th class="text-center">Dias<br />Enviado</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>
                  <span class="fw-normal">{{ item.solicitud }}</span>
                </td>
                <td>
                  <div class="iq-media-group iq-media-group-1 text-center" *ngIf="!!item.abogado">
                    <a href="javascript:void(0)" class="iq-media-1">
                      <div class="icon iq-icon-box-3 rounded-pill">{{ getIniciales(item.abogado) }}</div>
                    </a>
                  </div>
                </td>
                <td style="white-space: normal">
                  <span class="fw-normal">{{ item.contraparte }}</span>
                </td>
                <td class="text-center">
                  <span class="fw-normal">{{ item.fechaEnvio }}</span>
                </td>
                <td class="text-center">
                  <span class="fw-normal">{{ item.diasEnvio }}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="others_documents_content">
      <div class="mb-4">
        <div class="card card-slide mb-0 justify-content-center">
          <a [attr.href]="urlLegalAlDia?.valor" target="”_blank”">
            <div class="card-header p-0" style="background-color: #eaeaea">
              <img src="assets/img/legal_al_dia.png" class="img-fluid" width="100%" />
            </div>
          </a>
        </div>
      </div>
      <div class="card card-slide mb-0 others_documents_card">
        <div class="card-body">
          <div class="modelo-documentos-content">
            <h4 class="mb-2 card-title">Modelo de Contrato y Otros</h4>
            <app-tree [documents]="modeloDocumentos" (downloadFile)="downloadDocument($event)"></app-tree>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5">
    <div class="card card-slide overflow-visible aos-init aos-animate" data-aos="fade-up" data-aos-delay="600"
      style="z-index: 4">
      <div class="flex-wrap card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="mb-2 card-title">Documentos en Proceso de Visado</h4>
          <p class="mb-0">
            <svg class="me-2 text-primary" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"></path>
            </svg>
            {{ procesoVisado.length }} solicitudes en proceso
          </p>
        </div>
      </div>
      <div class="p-0 card-body">
        <div class="mt-4">
          <p-table #pt [value]="procesoVisado" [paginator]="true" [rows]="7" [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[7, 14, 21]" [tableStyle]="{ 'min-width': '30rem' }"
            styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm datatable-speed" [scrollable]="true"
            scrollHeight="400px">
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center">N° Solicitud</th>
                <!-- <th class="text-center" style="white-space: normal">Abogado Responsable</th> -->
                <th class="text-center">Solicitante</th>
                <th>Contraparte</th>
                <th>Sumilla</th>
                <th>Visador Actual</th>
                <th class="text-center">Fecha Envío</th>
                <th class="text-center">Días Enviado</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>
                  <span class="fw-normal">{{ item.solicitud }}</span>
                </td>
                <!-- TODO: Se solicito ocultar esta columna -->
                <!-- <td>
                  <div class="iq-media-group iq-media-group-1 text-center" *ngIf="!!item.abogado">
                    <a href="#" class="iq-media-1">
                      <div class="icon iq-icon-box-3 rounded-pill">{{ getIniciales(item.abogado) }}</div>
                    </a>
                  </div>
                </td> -->
                <td>
                  <div class="iq-media-group iq-media-group-1 text-center" *ngIf="!!item.solicitante">
                    <a href="#" class="iq-media-1">
                      <div class="icon iq-icon-box-3 rounded-pill">{{ getIniciales(item.solicitante) }}</div>
                    </a>
                  </div>
                </td>
                <td style="white-space: normal">
                  <span class="fw-normal">{{ item.contraparte }}</span>
                </td>
                <td>
                  <span class="fw-normal">{{ item.sumilla }}</span>
                </td>
                <td>
                  <span class="fw-normal">{{ item.visadorActual }}</span>
                </td>
                <td class="text-center">
                  <span class="fw-normal">{{ item.fechaEnvio }}</span>
                </td>
                <td class="text-center">
                  <span class="fw-normal">{{ item.diasEnvio }}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>